h1,
h2,
li,
p,
a {
    color: black;
    font-family: 'Courier New', monospace;
}

body {
    background-color: #FFCCFF;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
}


li {
    font-size 18px;
}

